<div class="container">
  
<h2 class="alert alert-info">Change Password</h2>
<div class="col-md-6 offset-md-3">
  <form #form="ngForm" (ngSubmit)="changingPassword()">
    <div class="form-group">
      <label for="changePassword">
        Password
      </label>
      <input 
        type="password"
        class="form-control"
        id="changePassword"
        name="changePassword"
        ngModel
        #changePassword="ngModel"
      required
      minlength="6"
        > 
    </div>
    <div *ngIf="!changePassword.valid && changePassword.touched">
        <p class="alert alert-danger" 
              *ngIf="changePassword?.errors.required">
              the password field is required
        </p>
        <p class="alert alert-danger" 
              *ngIf="changePassword?.errors.minlength">
              the password must be at least 6 characters
        </p>
    </div>
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Change</button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>
</div>

</div>