<div class="container">
<h2 class="font-weight-bold">Shopping Cart</h2>

<h4>You have {{_cartService.getTotalQuantity}} items in your shoppping cart</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shoppingCart of _cartService.cart?.shoppingCart">
            <td>
                <img class="roundedImage" [src]="shoppingCart.imageUrl">
            </td>
            <td>{{shoppingCart.title}}</td>
            <td>{{shoppingCart.quantity}}</td>
            <td>{{shoppingCart.price | currency}}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td><span style="font-weight: bold;">{{_cartService.getTotalPrice |currency}}</span></td>
        </tr>
    </tbody>
</table>

<div>
    <button (click)="clearCart()" type="button" class="btn btn-danger pull-left">Clear ShoppingCart</button>
    <a routerLink="/check-out" class="btn btn-primary pull-right">Check Out</a>

</div>
</div>
