
<app-navbar></app-navbar>
<div class="py-5"><!--container -->
    <router-outlet></router-outlet>
</div>
<div class="footer text-white my-3">
    <div class="container">
        <div class="footer-content row py-3 d-flex flex-row flex-wrap">
            <div class="col-md-4 col-sm-12">
               <h3 class="py-4">About Us</h3>
               <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ullam, mollitia repellat deserunt, facilis rerum nisi atque sed cum aperiam voluptatem laborum distinctio exercitationem quisquam explicabo amet porro laudantium sit minus. Officia aperiam temporibus nobis quibusdam earum sequi rem fugit facere repellendus, architecto, voluptates voluptatum iusto quia dolore eos tempore.</p>    
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="py-4">Features</h3>
                <div>
                    <div class="d-flex my-2">
                        <img src="https://media.istockphoto.com/photos/fresh-and-raw-vegetables-on-wooden-kitchen-table-copy-space-picture-id1035219610" class="w-50 mr-2">
                        <img src="https://media.istockphoto.com/photos/fresh-fruits-and-vegetables-picture-id589415708"  class="w-50 mr-2">
                    </div>
                    <div class="d-flex my-2">
                        <img src="https://media.istockphoto.com/photos/fresh-veggies-and-fruits-food-frame-on-white-background-with-copy-picture-id820334914" class="w-50 mr-2">
                        <img src="https://media.istockphoto.com/photos/healthy-food-selection-with-fruits-vegetables-seeds-super-foods-picture-id1128687113" class="w-50 mr-2">
                    </div>
                </div>
            </div>
            <div class="col col-md-4 col-sm-12">
                <h3 class="py-4">Follow</h3>
                <p>Let us be Social</p>
                <div class="d-flex flex-row flex-wrap">
                    <i class="pl-3 fa fa-facebook"></i>
                    <i class="pl-3 fa fa-twitter"></i>
                    <i class="pl-3 fa fa-instagram"></i>
                    <i class="pl-3 fa fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</div>
